# Common DEGs between Preeclamsia and Covid Patients

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_pre_down = pd.read_excel('preeclamsiaGSE48424DEG.xlsx',sheet_name='downRegulated')

In [3]:
df_pre_down.head(2)

,Unnamed: 0,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,0,A_23_P348257,0.01988,0.000066,-4.501782,1.679898,-1.251253,NUAK1,NUAK family kinase 1,1.251253
1,1,A_32_P159989,0.02280,0.000112,-4.324853,1.200479,-1.012997,NKAPP1,NFKB activating protein pseudogene 1,1.012997

In [4]:
df_pre_down.shape

(12, 10)

In [5]:
df_pre_up = pd.read_excel('preeclamsiaGSE48424DEG.xlsx',sheet_name='upRegulated')

In [6]:
df_pre_up.head(2)

,Unnamed: 0,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,0,A_23_P324718,0.00586,8.580000e-07,5.904928,5.570423,1.119439,SYNJ1,synaptojanin 1,1.119439
1,1,A_24_P123190,0.00737,1.610000e-06,5.702846,5.007608,1.536447,PLD1,phospholipase D1,1.536447

In [7]:
df_pre_up.shape

(53, 10)

In [8]:
df_covid_down = pd.read_excel('covidDEGs.xlsx',sheet_name='downRegulated')

In [9]:
df_covid_down.head(2)

,Unnamed: 0,index,Gid,GENE_SYMBOL,CPM-N1,CPM-N2,CPM-N3,CPM-P1,CPM-P2,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,0,0,ENSG00000134184.13,GSTM1,7.34,4.62,6.22,0.07,0.21,0.21,290.84,-5.01,5.01,0.36,-13.82,1.920000e-43,5.440000e-39,38.264401,Down
1,1,2,ENSG00000233392.5,AC104809,13.87,5.25,11.97,0.02,0.26,0.09,462.90,-6.13,6.13,0.60,-10.27,9.900000e-25,9.360000e-21,20.028724,Down

In [10]:
df_covid_down.shape

(599, 19)

In [11]:
df_covid_up = pd.read_excel('covidDEGs.xlsx',sheet_name='upRegulated')

In [12]:
df_covid_up.head(2)

,Unnamed: 0,index,Gid,GENE_SYMBOL,CPM-N1,CPM-N2,CPM-N3,CPM-P1,CPM-P2,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,0,1,ENSG00000211934.3,IGHV1,0.46,0.25,0.36,5.14,20.56,63.93,1361.64,6.36,6.36,0.60,10.51,7.580000e-26,1.070000e-21,20.970616,Up
1,1,3,ENSG00000198848.12,CES1,3.84,0.83,4.96,185.00,76.06,398.24,12508.37,6.53,6.53,0.65,10.12,4.690000e-24,3.330000e-20,19.477556,Up

In [13]:
df_covid_up.shape

(1146, 19)

In [14]:
df_covid_pre_down = pd.merge(df_pre_down,df_covid_down,how='inner',left_on='Gene.symbol',right_on='GENE_SYMBOL')

In [15]:
df_covid_pre_up = pd.merge(df_pre_up,df_covid_up,how='inner',left_on='Gene.symbol',right_on='GENE_SYMBOL')

In [16]:
df_covid_pre_down.head()

,Unnamed: 0_x,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC,...,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,0,A_23_P348257,0.01988,0.000066,-4.501782,1.679898,-1.251253,NUAK1,NUAK family kinase 1,1.251253,...,0.59,378.4,-4.71,4.71,0.68,-6.92,4.380000e-12,2.180000e-09,8.661544,Down

In [17]:
df_covid_pre_down[['Gene.symbol','GENE_SYMBOL']]

  Gene.symbol GENE_SYMBOL
0       NUAK1       NUAK1

In [18]:
df_covid_pre_up.head()

,Unnamed: 0_x,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC,...,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,9,A_23_P6849,0.01696,0.000033,4.722490,2.283905,1.213366,CCR1,C-C motif chemokine receptor 1,1.213366,...,33.20,3232.29,2.25,2.25,0.70,3.24,0.00119,0.0183,1.737549,NC
1,34,A_23_P433204,0.03245,0.000279,4.016314,0.377601,1.105105,RHOT1,ras homolog family member T1,1.105105,...,105.85,5496.13,1.08,1.08,0.37,2.91,0.00361,0.0393,1.405607,NC

In [19]:
df_covid_pre_up[['Gene.symbol','GENE_SYMBOL']]

  Gene.symbol GENE_SYMBOL
0        CCR1        CCR1
1       RHOT1       RHOT1

In [20]:
df_output_down = df_covid_pre_down['Gene.symbol']

In [21]:
df_output_up = df_covid_pre_up['Gene.symbol']

In [22]:
writer = pd.ExcelWriter('covidPreeclamsia_commonDEGs.xlsx',engine='xlsxwriter')

In [23]:
df_output_down.to_excel(writer,sheet_name='downRegulated')

In [24]:
df_output_up.to_excel(writer,sheet_name='upRegulated')

In [25]:
writer.save()
writer.close()